
.Heading{
    margin-bottom: 0;
    background-color: var(--light-1-color);
    position: sticky;
    position: -webkit-sticky;
    padding: 1em 0;
    top: 0;
    z-index: 99;
}
.Heading > .Heading-List{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.Heading > .Heading-Date{
    font-weight: bold;
    margin: 0;
}