
.Heading{
    position: sticky;
    position: -webkit-sticky;

    background-color: var(--light-1-color);
    
    padding: 1em var(--gutter);
    margin-bottom: 0;
    top: 0;
    
    z-index: 99;
}
.Heading > .Heading-List{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.Heading > .Heading-Date{
    font-weight: bold;
    margin: 0;
}