@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  /* Colors */
  --highlight-color: #FCDAB7;
  --light-1-color: #1E5F74;
  --light-2-color: #133B5C;
  --dark-color: #1D2D50;
  /*  */
  --gutter: 15px;
  /* Components */
  --task-height: 50px;
  /* */
  --shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body {
  color: var(--highlight-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


