.Task{
        /* Variables */
        --height: 50px;
        --form-gutter: 24px;
        
        /*  */
        width: calc(100vw - calc( 2 * var(--gutter)) );
        min-height: var(--height);
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: var(--light-2-color);
        border-radius: 5px;
        margin-bottom: .5em;
}

.Task-Text{
    display: inline;
    color: var(--highlight-color);
    font-size: 16px;
}

.Task-Container{
    width: calc(100% - var(--form-gutter));
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.Task-Container svg{
    display: inline;
    padding-right: 10px;
}