.Task{
    /* Sizeing */
    min-height: var(--task-height);
    /* Display */
    display: flex;
    align-items: center;
    justify-content: left;
    /* Colors */
    background-color: var(--light-2-color);
    /* Margin, Border, Padding */
    border-radius: 5px;
    margin-bottom: .5em;
    padding-left: 15px;
}

.Task-Text{
    display: inline;
    color: var(--highlight-color);
    font-size: 16px;
}

.Task svg{
    width: 22px;
    height: 22px;
    padding-right: 10px;
}

.Task-Completed{
    font-style: italic;
    text-decoration: line-through;
}