.TaskInput{
    /* Positioning */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* Display */
    display: flex;
    justify-content: left;
    align-items: center;
    /* Colors */
    background-color: var(--light-1-color);
    /* Margin, Border, Padding */
    padding: var(--gutter);
}            

.TaskInput-Form{
    /* Sizeing */
    min-height: var(--task-height);
    width: 100%;
    /* Display */
    display: flex;
    align-items: center;
    /* Colors */
    background-color: var(--light-2-color);
    /* Margin, Border, Padding */
    border-radius: 5px;
    padding: 0 15px;
}

.TaskInput-Input{
    /* Sizeing */
    height: auto;
    /* Display */
    display: inline;
    flex: 1;
    /* Font */
    font: inherit;
    font-size: 16px;
    /* Margin, Border, Padding */
    border: 0;
    padding: 0;
    /* Colors */
    color: var(--highlight-color);
    background-color: transparent;
}

.TaskInput-Input:focus {
    outline: none;
}

.TaskInput-Input::placeholder{
    color: var(--highlight-color);
}


.TaskInput-Form svg{
    padding-right: 10px;
}