.App-Container{
    padding: var(--gutter);
}

.App-SVG{
  max-height: 200px;
  filter: var(--shadow);
}

.App-Empty{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}