.App{
    background-color: var(--light-1-color);
    min-height: calc(100vh - var(--gutter) );
    padding-top: 0;
  }
  
.App-Container{
    padding: var(--gutter);
}

.App-SVG{
  max-height: 200px;
}

.App-Empty{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
@media (min-width:320px) { 

}
/* smartphones, Android phones, landscape iPhone */ 
@media (min-width:480px) { 

}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
@media (min-width:600px) { 

}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:801px) { 
    
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 

}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 

}
