@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App{
  background-color: var(--light-1-color);
  min-height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;
}

:root{
  
  /* Colors */
  --highlight-color: #FCDAB7;
  --light-1-color: #1E5F74;
  --light-2-color: #133B5C;
  --dark-color: #1D2D50;

}

body {
  color: var(--highlight-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


